@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --primary-Text-Montserrat: 'Montserrat', sans-serif; 

    --primary-text-color: #17181d;
    --secondary-text-color: #292c35;
    --text-hover-color: #55c2da;
    /* --text-hover-color: #04cdff; */
    --background-color: #fff;

    --main-text-bg-color: #17181d;
    
    --primary-button-color: #4681f4;
    --primary-button-hover-color: #1865ff;
    --secondary-button-color: #dbdbdb;
    --secondary-hover-button-color: #b80e0e;

    --footer-background-color: #17181d;
    --footer-text-color: #dfdfdf;
    --footer-hover-text-color: #f3f3f3;

    --box-shadow-color: #cccccc;
    --box-shadow: 0 0 2px var(--box-shadow-color);

    --border-radius: 6px;

    --margin-block: 8px;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
}
body{
    font-family: var(--primary-Text-Montserrat);
    background-color: var(--background-color);
}

.nav-bar{
    width:100%;
    height: 40px;
    margin-block: var(--margin-block);
    background-color: var(--background-color);
    padding: 3px 8px;
    border-radius: var(--border-radius);
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

.nav-company-logo{
    width: 250px;
    text-align: center;
}
.nav-company-logo .company-logo{
    cursor: pointer;
    color: var(--primary-button-color);
}

.nav-links .ul-links{
    width: 300px;
    justify-content: space-evenly;
    gap: 8px;
}
.ul-links .link{
    color: var(--primary-text-color);
    font-weight: 500 ;
    position: relative;
    transition: color 0.2s ease-out;
}
.link:hover{
    color:var(--primary-button-color)
}
.link:focus{
    color: var(--primary-button-color);
}

.content-container{
    width: 100%;
    height: 525px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    flex-direction: column;
    justify-content: center;
    z-index: -2;
    background-color: #ffffff;
}
.content-container .color-code-display{
    width: 50%;
    height: 60px;
    justify-content: space-between;
    gap: 16px;
    background-color: var(--main-text-bg-color);
    border-radius: 8px;
    padding: 3px 16px;
    transition: box-shadow 0.25s ease-in-out;
    
}
.color-code-display:hover{
    box-shadow: 0 0 20px var(--box-shadow-color);
}
.color-code-display .normal-text{
    
    width: 60%;
    height: fit-content;
    font-size: 1.8rem;    
    font-weight: 500;
    color: var(--background-color);
}
.color-code-display .color-code-text{
    width: 28%;
    text-align: center;
    font-size: 1.3rem;
    color: var(--background-color);
}

.buttons-area{
    margin-top: 6px;
    width: 40%;
    height: max-content;
    padding: 0 16px;
    border-radius: 8px;
    gap: 10px;
    justify-content: center;
}
.buttons-area .buttons{
    width: 150px;
    font-family: var(--primary-Text-Montserrat);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.095rem;
    padding: 4px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.buttons-area .buttons:first-child{
    background-color: var(--secondary-button-color);
    transition: all 0.2s ease-in-out;   
}
.buttons-area .buttons:first-child:hover{
    background-color: var(--secondary-hover-button-color);
    color: var(--background-color);
}
.buttons-area .buttons:last-child{
    background-color: var(--primary-button-color);
    color: var(--background-color);
    transition: background-color 0.2s ease-in-out;   
}
.buttons-area .buttons:last-child:hover{
    background-color: var(--primary-button-hover-color);
}

.footer-text{
    width: 100%;
    height: 50px;
    margin-block: var(--margin-block);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    justify-content: center;
    background-color: var(--footer-background-color);
}
.footer-ul-links{
    gap: 50px;
}
.footer-ul-links .footer-links{
    color: var(--footer-text-color);
    transition: color 0.2s ease-in-out;
}
.footer-ul-links .footer-links:hover{
    color: var(--footer-hover-text-color);
}